/* General Styles */

body {
    margin: 0;
    padding: 0;
    background-image: url('../images/landing page/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Poppins", sans-serif;
    min-height: 100vh; /* Ensure body fills at least the viewport height */
    display: flex; /* Use flexbox to center content vertically and horizontally */
    justify-content: center;
    align-items: center;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    color: white;
    font-size: 18px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%; /* Limit width of overlay */
}

.overlay h1 {
    margin-top: 0; /* Remove default margin for h1 */
}

.clock{
    margin-top: 5%;
}

.clock h1{
    font-size: 100px;
}

.start,.stop,.reset{
    background-color: white;
    color: black;
    border: none;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 35px;
}

.start:active,.stop:active,.reset:active{
    background-color: rgba(255, 255, 255, 0.637);
}