

body {
    margin: 0;
    padding: 0;
    background-image: url('../images/landing page/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Poppins", sans-serif;
    min-height: 100vh; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    color: white;
    font-size: 18px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.overlay h1 {
    margin-top: 0;
}
.topbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.clock{
    background-color: rgba(0, 255, 21, 0.219);
    margin-top: 5%;
    border-radius: 30px;
}

.clock h1{
    font-size: 100px;
}

.start,.stop,.reset{
    background-color: white;
    color: black;
    border: none;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 35px;
    margin: 5px 5px 5px 5px;
}

.start:active,.stop:active,.reset:active{
    background-color: rgba(255, 255, 255, 0.637);
}

.number-of-goals-a,
.number-of-goals-b {
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    height: 200px;
    width: 200px;
    border-radius: 50px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    font-size: xx-large;
    cursor: pointer;
}

.team-a-goals,.team-b-goals{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.a-plus,.a-minus,.b-plus,.b-minus{
    background-color: white;
    border: solid;
    border-color: black;
    font-size: 60px;
    width: 60px;
    border-width: 2px;
    border-radius: 20px;
    cursor: pointer;
}

.a-plus:active,.a-minus:active,.b-plus:active,.b-minus:active{
    background-color: rgba(161, 161, 161, 0.637);
}
.number-of-goals-a h1, .number-of-goals-b h1{
    margin-bottom: 20px;
}

.possession-stats{
    padding-bottom: 5%;
}

.possession-a,.possession-b{
    background-color: white;
    color: black;
    border: none;
    font-size: 25px;
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10%;
}

.possession-a:active,.possession-b:active{
    background-color: rgba(161, 161, 161, 0.637);
}

.stats{
    margin-top: 2.5%;
}

.possession-stats h4{
    margin-bottom: 5%;
}
.possession-bar{
    display: flex;

}

.possession-a-percent{
    flex: 1;
    height: 2%;
    background-color: red;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.possession-a-percent h5{
    width: 300px;
    transition: width 0.3s;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.possession-b-percent h5{
    width: 300px;
    transition: width 0.3s;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.possession-b-percent{
    flex: 1;
    height: 2%;
    background-color: blue;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}


.player-popup {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    border-radius: 10px;
    z-index: 9999;
    width: 90%;
}

.player-button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    background-color: white;
    color: black;
    border: none;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 35px;
}

.player-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.goal-scorers{
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 80%;
    margin-top: 5%;
    width: 420px;
}

.team-a-goalscorers,.team-b-goalscorers{
    display: flex;
    justify-content: center;
    align-items: top;

}

.team-a-goalscorers ul,.team-b-goalscorers ul{
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;

}

.team-a-goalscorers ul li,.team-b-goalscorers ul li{
    padding: 5px 5px 5px 5px;
    font-size: 20px;
    width: 200px;
}


.shot-stats,.fouls-stats,.tackles-stats,.injury-stats,.corner-stats,.yellow-card-stats,.red-card-stats{
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.shot-stats button,.fouls-stats button,.tackles-stats button,.injury-stats button,.corner-stats button,.yellow-card-stats button,.red-card-stats button{
    background-color: white;
    color: black;
    border: none;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 35px;
}

.shot-stats button:active,.fouls-stats button:active,.tackles-stats button:active,.injury-stats button:active,.corner-stats button:active,.yellow-card-stats button:active,.red-card-stats button:active{ 
    background-color: rgba(161, 161, 161, 0.637);
}